@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* Paleta de cores massa

#fd951f*/

:root {
  --primery-color: #fd951f;
  --secundary-color: #1fd4fd;
  --ternary-color: #f08080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;

  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;

  background-color: #f9f9f9;
}

header, footer {
  background-color: #000;
  color: #fff;

  width: 100%;
  padding: 32px 0;

  text-align: center;
}

header div.container {
  display: grid;
  grid-template-columns: 220px auto 280px;
  align-items: center;
  grid-gap: 24px;
}

header div.container a {
  justify-self: start;  
}

/* logo */
.logo h1 {
  color: #fff;
  font-size: 36px;
  line-height: 46px;
}

.logo h2 {
  color: var(--primery-color);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
}

/* header search */

.search input {
  width: 100%;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 16px;
}

